// Change the palette colors to your own. You can also change which color is where and add your own variables.

$primary: #11114f; //purple-blue body text
$crimson: #980202; //Dark Red
$crimson2: #bc0404; //Lighter Red
$palette2: #FFF;  //white
$palette3: #313198; //purple-blue
$palette4: #949494; //dark-purple
$palette5: #030345; //darker-purple
$darkpulp: #010133; //super-dark-purple
$counter: #343499; //countdown
$coal:#222; //charcoal
$coal2:#363636; //darker charcoal
$cal: #2f2f8b; //calendar icon color