body {
    
    color:$primary;
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    a {
        text-decoration:none;
    }
    
    h2 {
        margin: 30px 0;
        min-height:35px;
        text-transform:uppercase;
    }
    
    main section {
        padding: 2em 1em;
        clear:both;
        
        ul {
            margin:1em;
            
            li {
            margin-bottom:1em;
            }
        }
    }

    img {
        height:auto;
    }
    
    .center {
        text-align:center;
    }

    a.inverse-btn {
        font-family:'Raleway',sans-serif;
        border:3px solid $palette2;
        padding:15px 25px;
        display:inline-block;
        margin-top:35px;
    }
}

/** CONTENT STYLES **/

.inner-section {
    max-width:1170px;
    margin:0 auto;
    width:100%;
    overflow:hidden;
}


main a[href*="http"]:not([class*="btn"]):after {
      display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     content: "\f08e";
    margin:0 5px;
 font-size:12px;
}

/** COLORED SECTIONS **/

.purple-inverse {
    background:$primary;
    padding:60px 15px;
    
    * {
        color:$palette2;
    }
    
    a:not([class*="btn"]) {
        text-decoration:underline;
    }
    
}

/** CUSTOM GRID LAYOUT **/

.col-2,
.col-3,
.col-4 {
    width:100%;
    margin-bottom:35px;
}

/** FOOTER STYLES **/

footer {
    background-color:#464646;
    font-family:'Raleway';
    padding-top:15px;
    
    nav ul {
        text-align:center;
        
        li {
        margin:15px;
        list-style:none;
        
            a {
            color:$palette2;
            }
        }
    }
    
    p {
        text-align:center;
        background-color:$coal2;
        padding:25px 0;
        color:$palette2;
        margin:0;
    }
    
}